name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

# Disable previous runs
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

# ${{ secrets.CI_IMAGE_SECRET }} is defined in the repository secrets

jobs:
  fmt:
    name: Cargo fmt
    runs-on: ubuntu-latest
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true

      - name: Cargo fmt
        run: cargo +nightly fmt --all -- --check

  machete:
    name: Check unused dependencies
    runs-on: ubuntu-latest
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true

      - name: Install cargo-machete
        run: cargo install cargo-machete

      - name: Check unused dependencies
        run: cargo machete

  check:
    name: Cargo check
    runs-on: ubuntu-latest
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true

      - name: Cargo check
        run: cargo check

  doc:
    name: Check documentation
    runs-on: ubuntu-latest
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true
      - name: Check documentation
        run: RUSTDOCFLAGS="-D warnings -D rustdoc::broken_intra_doc_links" cargo doc --workspace --no-deps --document-private-items

  clippy:
    name: Cargo clippy
    runs-on: ubuntu-latest
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true

      # TODO: Allow clippy to fail and do not cancel other tasks.
      # Clippy is fixed by: https://github.com/paritytech/litep2p/pull/57.
      - name: Run clippy
        continue-on-error: true
        run: cargo clippy

  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: ${{ secrets.CI_IMAGE_SECRET }}
      options: --sysctl net.ipv6.conf.all.disable_ipv6=0
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Rust Cache
        uses: Swatinem/rust-cache@23bce251a8cd2ffc3c1075eaa2367cf899916d84 # v2.7.3
        with:
          cache-on-failure: true
          cache-all-crates: true

      - name: Run tests
        run: cargo test
